* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    background: #fff7f9;
    color: #111;
    line-height: 1.6;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.logo {
    font-weight: 700;
    font-size: 1.25rem;
    text-decoration: none;
    color: #e63946;
}

#nav-menu {
    list-style: none;
    display: none;
    flex-direction: column;
    gap: 1rem;
    background-color: #ffe0e6;
    position: absolute;
    top: 60px;
    right: 0;
    padding: 1.5rem;
    border-radius: 8px;
}

#nav-menu.open {
    display: flex;
}

#nav-menu a {
    text-decoration: none;
    color: #111;
    font-weight: 600;
}


#menu-button {
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
}


@media (min-width: 640px) {
    #menu-button {
        display: none;
    }

    #nav-menu {
        display: flex !important;
        flex-direction: row;
        position: static;
        background: none;
        gap: 2rem;
        padding: 0;
    }
}


footer {
    text-align: center;
    padding: 2rem;
    margin-top: 3rem;
    background: #ffe0e6;
    font-weight: 600;
}