.hero {
    text-align: center;
    padding: 4rem 1rem;
    background: linear-gradient(#fec8d8, #fff7f9);
}

.hero h1 {
    font-size: 2.5rem;
    color: #d31952;
}

.btn-group {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    padding: 0.7rem 1.5rem;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    background: #e63946;
    font-weight: 700;
}

.grid {
    display: grid;
    gap: 1.5rem;
    padding: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    justify-items: center;
}


.card {
    background: #ffffff;
    border-radius: 12px;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 260px;
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}


.card img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 10px;
}


@media (min-width: 1024px) {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .card img {
        height: 280px;
    }
}